.mediaViewInfo {
    --web-view-name: Full Page;
    --web-view-id: Full_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Full_Page;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Full_Page {
    position: absolute;
    width: 2000px;
    height: 5697px;
    background-color: rgba(243,243,243,1);
    overflow: hidden;
    --web-view-name: Full Page;
    --web-view-id: Full_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_30 {
    position: absolute;
    width: 2979.766px;
    height: 5991.09px;
    left: -550.689px;
    top: -294.09px;
    overflow: visible;
}
#Group_29 {
    position: absolute;
    width: 2318.462px;
    height: 1640.09px;
    left: 550.689px;
    top: 0px;
    overflow: visible;
}
#Group_23 {
    position: absolute;
    width: 2318.462px;
    height: 1640.09px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_1 {
    fill: rgba(255,255,255,1);
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 131px;
    left: 0px;
    top: 294.09px;
}
#Rectangle_2 {
    fill: rgba(255,255,255,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1215px;
    left: 0px;
    top: 425.09px;
}
#Path_1 {
    opacity: 0.32;
    fill: rgba(255,0,255,1);
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 1780.899px;
    height: 1359.837px;
    left: 537.563px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#HOME {
    left: 948px;
    top: 342.09px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#ABOUT {
    left: 1160px;
    top: 342.09px;
    position: absolute;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#Skills {
    left: 1397px;
    top: 342.09px;
    position: absolute;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#contact {
    left: 1714px;
    top: 342.09px;
    position: absolute;
    overflow: visible;
    width: 172px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#logo {
    left: 55px;
    top: 342.09px;
    position: absolute;
    overflow: visible;
    width: 110px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#n_8 {
    filter: drop-shadow(9px 8px 20px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 781.5px;
    height: 1062.229px;
    left: 877.75px;
    top: 501.476px;
    overflow: visible;
}
#jESONE_aWEOFD {
    left: 164px;
    top: 806.09px;
    position: absolute;
    overflow: visible;
    width: 1016px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 238px;
    color: rgba(112,112,112,1);
}
#ui_ux_dESIGNER {
    left: 421px;
    top: 1417.09px;
    position: absolute;
    overflow: visible;
    width: 368px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(112,112,112,1);
}
#IN_England {
    left: 657px;
    top: 1465.09px;
    position: absolute;
    overflow: visible;
    width: 132px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
}
#facebook______________twitter_ {
    opacity: 0.38;
    left: 262px;
    top: 1564.09px;
    position: absolute;
    overflow: visible;
    width: 411px;
    white-space: nowrap;
    text-align: left;
    font-family: Bison;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(112,112,112,1);
}
#Group_10 {
    position: absolute;
    width: 43px;
    height: 76px;
    left: 794px;
    top: 1540.09px;
    overflow: visible;
}
#Rectangle_7 {
    opacity: 0.51;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 64px;
    left: 4px;
    top: 0px;
}
#Rectangle_8 {
    opacity: 0.5;
    fill: rgba(112,112,112,1);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 16px;
    left: 20px;
    top: 14px;
}
#Scroll_Down {
    opacity: 0.5;
    left: 0px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: rgba(112,112,112,1);
}
#Group_26 {
    position: absolute;
    width: 2550.689px;
    height: 1282.281px;
    left: 0px;
    top: 1647.127px;
    overflow: visible;
}
#Group_24 {
    position: absolute;
    width: 2550.689px;
    height: 1282.281px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3 {
    fill: rgba(255,255,255,1);
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1215px;
    left: 550.689px;
    top: 39.963px;
}
#Path_2 {
    opacity: 0.73;
    fill: rgba(255,173,255,1);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 1217.189px;
    height: 1275.601px;
    transform: translate(550.689px, -1353.037px) matrix(1,0,0,1,-490.5056,1356.3767) rotate(267deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#international_holi_6__dfc79632 {
    filter: drop-shadow(4px 11px 25px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 588px;
    height: 1046px;
    left: 668.689px;
    top: 124.963px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con {
    left: 1550.689px;
    top: 482.963px;
    position: absolute;
    overflow: visible;
    width: 725px;
    white-space: nowrap;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(112,112,112,1);
}
#Lorem_ipsum_dolor_sit_amet_con_bb {
    left: 1550.689px;
    top: 857.963px;
    position: absolute;
    overflow: visible;
    width: 886px;
    height: 232px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
}
#Group_11 {
    position: absolute;
    width: 571px;
    height: 952px;
    left: 1344.689px;
    top: 285.963px;
    overflow: visible;
}
#Rectangle_7_bd {
    opacity: 0.51;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7_bd {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 64px;
    left: 4px;
    top: 876px;
}
#Rectangle_8_be {
    opacity: 0.5;
    fill: rgba(112,112,112,1);
}
.Rectangle_8_be {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 16px;
    left: 20px;
    top: 890px;
}
#Scroll_Down_bf {
    opacity: 0.5;
    left: 0px;
    top: 946px;
    position: absolute;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: rgba(112,112,112,1);
}
#Rectangle_9 {
    fill: rgba(112,112,112,1);
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 6px;
    left: 353px;
    top: 107px;
}
#Rectangle_10 {
    fill: rgba(112,112,112,1);
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 6px;
    left: 364px;
    top: 133px;
}
#About_More {
    left: 206px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 317px;
    white-space: nowrap;
    text-align: left;
    font-family: Bison;
    font-style: normal;
    font-weight: bold;
    font-size: 83px;
    color: rgba(112,112,112,1);
}
#Group_25 {
    position: absolute;
    width: 2429.077px;
    height: 1215px;
    left: 550.689px;
    top: 2949.09px;
    overflow: visible;
}
#Rectangle_4 {
    fill: rgba(255,255,255,1);
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1215px;
    left: 0px;
    top: 0px;
}
#Path_3 {
    opacity: 0.32;
    fill: rgba(255,0,255,1);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 1485.277px;
    height: 1215px;
    left: 943.8px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#OGQ_349__82f1cb71-70fe-4d05-a8 {
    position: absolute;
    width: 575px;
    height: 1021px;
    left: 1310px;
    top: 113px;
    overflow: visible;
}
#SKILLS {
    left: 212px;
    top: 177px;
    position: absolute;
    overflow: visible;
    width: 385px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 117px;
    color: rgba(112,112,112,1);
}
#Group_17 {
    position: absolute;
    width: 284px;
    height: 32px;
    left: 379px;
    top: 314px;
    overflow: visible;
}
#Rectangle_11 {
    fill: rgba(112,112,112,1);
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 250px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_12 {
    fill: rgba(112,112,112,1);
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 6px;
    left: 77px;
    top: 26px;
}
#Group_7 {
    position: absolute;
    width: 406px;
    height: 380px;
    left: 538px;
    top: 708px;
    overflow: visible;
}
#Group_6 {
    position: absolute;
    width: 406px;
    height: 348px;
    left: 0px;
    top: 32px;
    overflow: visible;
}
#Group_5 {
    position: absolute;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_13 {
    fill: rgba(182,182,182,1);
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#Rectangle_18 {
    fill: rgba(255,173,255,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 390px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#Group_4 {
    position: absolute;
    width: 406px;
    height: 20px;
    left: 0px;
    top: 82px;
    overflow: visible;
}
#Rectangle_17 {
    fill: rgba(182,182,182,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 406px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#Rectangle_19 {
    fill: rgba(255,173,255,1);
}
.Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 357px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#Group_3 {
    position: absolute;
    width: 406px;
    height: 20px;
    left: 0px;
    top: 164px;
    overflow: visible;
}
#Rectangle_16 {
    fill: rgba(182,182,182,1);
}
.Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 406px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#Rectangle_20 {
    fill: rgba(255,173,255,1);
}
.Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 279px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#Group_2 {
    position: absolute;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 247px;
    overflow: visible;
}
#Rectangle_15 {
    fill: rgba(182,182,182,1);
}
.Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#Rectangle_21 {
    fill: rgba(255,173,255,1);
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 337px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#Group_1 {
    position: absolute;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 329px;
    overflow: visible;
}
#Rectangle_14 {
    fill: rgba(182,182,182,1);
}
.Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 406px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#Rectangle_22 {
    fill: rgba(255,173,255,1);
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 376px;
    height: 19px;
    left: 0px;
    top: 0px;
}
#UIUX_Design {
    left: 125px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 157px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Adobe_Xd {
    left: 141px;
    top: 89px;
    position: absolute;
    overflow: visible;
    width: 126px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Figma {
    left: 168px;
    top: 170px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Photoshop {
    left: 129px;
    top: 253px;
    position: absolute;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Illistrator {
    left: 127px;
    top: 336px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Lorem_ipsum_dolor_sit_amet_con_cd {
    left: 212px;
    top: 492px;
    position: absolute;
    overflow: visible;
    width: 886px;
    height: 232px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
}
#Group_12 {
    position: absolute;
    width: 43px;
    height: 76px;
    left: 794px;
    top: 1134px;
    overflow: visible;
}
#Rectangle_7_cf {
    opacity: 0.51;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7_cf {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 64px;
    left: 4px;
    top: 0px;
}
#Rectangle_8_cg {
    opacity: 0.5;
    fill: rgba(112,112,112,1);
}
.Rectangle_8_cg {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 16px;
    left: 20px;
    top: 14px;
}
#Scroll_Down_ch {
    opacity: 0.5;
    left: 0px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: rgba(112,112,112,1);
}
#Group_27 {
    position: absolute;
    width: 2295.628px;
    height: 1226.497px;
    left: 255.061px;
    top: 4204.573px;
    overflow: visible;
}
#Rectangle_5 {
    fill: rgba(255,255,255,1);
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1215px;
    left: 295.628px;
    top: 6.517px;
}
#Path_5 {
    opacity: 0.12;
    fill: rgba(255,0,255,1);
}
.Path_5 {
    overflow: visible;
    position: absolute;
    width: 1214.843px;
    height: 678.363px;
    transform: translate(295.628px, -3910.483px) matrix(1,0,0,1,-553.3185,4184.55) rotate(269deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#kisspng-earth-globe-world-map- {
    filter: drop-shadow(0px 13px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 722px;
    height: 422px;
    left: 434.628px;
    top: 320.517px;
    overflow: visible;
}
#Rectangle_24 {
    opacity: 0.5;
    fill: rgba(210,210,210,1);
}
.Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 677px;
    height: 113px;
    left: 1468.628px;
    top: 131.517px;
}
#Rectangle_26 {
    opacity: 0.5;
    fill: rgba(210,210,210,1);
}
.Rectangle_26 {
    position: absolute;
    overflow: visible;
    width: 677px;
    height: 404px;
    left: 1469.628px;
    top: 602.517px;
}
#Rectangle_28 {
    opacity: 0.5;
    fill: rgba(210,210,210,1);
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 677px;
    height: 113px;
    left: 1469.628px;
    top: 445.517px;
}
#Rectangle_29 {
    opacity: 0.5;
    fill: rgba(210,210,210,1);
}
.Rectangle_29 {
    position: absolute;
    overflow: visible;
    width: 677px;
    height: 113px;
    left: 1468.628px;
    top: 288.517px;
}
#Rectangle_30 {
    opacity: 0.5;
    fill: rgba(210,210,210,1);
}
.Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 363px;
    height: 104px;
    left: 1626.628px;
    top: 1058.517px;
}
#Enter_Your_Name {
    opacity: 0.4;
    left: 1513.628px;
    top: 171.517px;
    position: absolute;
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(112,112,112,1);
}
#Enter_Your_Subject {
    opacity: 0.4;
    left: 1513.628px;
    top: 485.517px;
    position: absolute;
    overflow: visible;
    width: 201px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(112,112,112,1);
}
#Enter_Your_Email {
    opacity: 0.4;
    left: 1513.628px;
    top: 328.517px;
    position: absolute;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(112,112,112,1);
}
#Enter_Your_Massage_____ {
    opacity: 0.4;
    left: 1513.628px;
    top: 637.517px;
    position: absolute;
    overflow: visible;
    width: 284px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(112,112,112,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(178,174,174,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 20.82px;
    height: 23.82px;
    left: 2122.128px;
    top: 975.017px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
    fill: transparent;
    stroke: rgba(178,174,174,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 20.82px;
    height: 23.82px;
    left: 2128.628px;
    top: 981.017px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(178,174,174,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 13.322px;
    height: 14.822px;
    left: 2128.628px;
    top: 983.017px;
    transform: matrix(1,0,0,1,0,0);
}
#DONT_BE_SHY_ {
    opacity: 0.6;
    left: 454.628px;
    top: 767.517px;
    position: absolute;
    overflow: visible;
    width: 354px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(100,99,99,1);
}
#Feel_free_to_get_in_touch_with {
    opacity: 0.6;
    left: 454.628px;
    top: 852.517px;
    position: absolute;
    overflow: visible;
    width: 621px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(100,99,99,1);
}
#envelope {
    fill: rgba(162,161,161,1);
}
.envelope {
    overflow: visible;
    position: absolute;
    width: 37.595px;
    height: 30.07px;
    left: 454.628px;
    top: 1102.865px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
    position: absolute;
    width: 238px;
    height: 111px;
    left: 454.628px;
    top: 1023.517px;
    overflow: visible;
}
#phone {
    fill: rgba(162,161,161,1);
}
.phone {
    overflow: visible;
    position: absolute;
    width: 37.595px;
    height: 37.595px;
    left: 0px;
    top: 5.965px;
    transform: matrix(1,0,0,1,0,0);
}
#Call_Me {
    opacity: 0.7;
    left: 50px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(100,99,99,1);
}
#mail_Me {
    opacity: 0.7;
    left: 58px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 96px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(100,99,99,1);
}
#n_80_1830-299003 {
    opacity: 0.7;
    left: 54px;
    top: 24px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(100,99,99,1);
}
#rhrafiofficialgmailcom {
    opacity: 0.7;
    left: 58px;
    top: 94px;
    position: absolute;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial Rounded MT;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(100,99,99,1);
}
#Group_13 {
    position: absolute;
    width: 43px;
    height: 76px;
    left: 1089.628px;
    top: 1134.517px;
    overflow: visible;
}
#Rectangle_7_c {
    opacity: 0.51;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7_c {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 64px;
    left: 4px;
    top: 0px;
}
#Rectangle_8_c {
    opacity: 0.5;
    fill: rgba(112,112,112,1);
}
.Rectangle_8_c {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 16px;
    left: 20px;
    top: 14px;
}
#Scroll_Down_da {
    opacity: 0.5;
    left: 0px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: rgba(112,112,112,1);
}
#Contact_db {
    left: 428.628px;
    top: 99.517px;
    position: absolute;
    overflow: visible;
    width: 648px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 136px;
    color: rgba(112,112,112,1);
}
#Group_18 {
    position: absolute;
    width: 331px;
    height: 41px;
    left: 691.628px;
    top: 262.517px;
    overflow: visible;
}
#Rectangle_11_dd {
    fill: rgba(112,112,112,1);
}
.Rectangle_11_dd {
    position: absolute;
    overflow: visible;
    width: 297px;
    height: 11px;
    left: 0px;
    top: 0px;
}
#Rectangle_12_de {
    fill: rgba(112,112,112,1);
}
.Rectangle_12_de {
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 10px;
    left: 124px;
    top: 31px;
}
#ic_send_24px {
    fill: rgba(112,112,112,1);
}
.ic_send_24px {
    overflow: visible;
    position: absolute;
    width: 17.381px;
    height: 14.898px;
    transform: translate(295.628px, -3910.483px) matrix(1,0,0,1,1554.4476,5000.0489) rotate(152deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Submit {
    left: 1765.628px;
    top: 1099.517px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: right;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(112,112,112,1);
}
#ic_location_on_24px {
    fill: rgba(255,255,255,1);
}
.ic_location_on_24px {
    overflow: visible;
    position: absolute;
    width: 34.946px;
    height: 49.923px;
    left: 807.628px;
    top: 571.517px;
    transform: matrix(1,0,0,1,0,0);
}
#Location {
    left: 806.628px;
    top: 621.517px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: right;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: rgba(255,255,255,1);
}
#Group_28 {
    position: absolute;
    width: 2000px;
    height: 518px;
    left: 550.689px;
    top: 5473.09px;
    overflow: visible;
}
#Rectangle_6 {
    fill: rgba(255,255,255,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 518px;
    left: 0px;
    top: 0px;
}
#Rectangle_33 {
    opacity: 0.73;
    fill: rgba(255,172,172,1);
}
.Rectangle_33 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 70px;
    left: 0px;
    top: 448px;
}
#Copyright__2021_Raisul_Rafi___ {
    opacity: 0.6;
    left: 626px;
    top: 475px;
    position: absolute;
    overflow: visible;
    width: 379px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial Rounded MT;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Group_14 {
    position: absolute;
    width: 36px;
    height: 73px;
    left: 797px;
    top: 352px;
    overflow: visible;
}
#Rectangle_7_do {
    opacity: 0.51;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7_do {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#Rectangle_8_dp {
    opacity: 0.5;
    fill: rgba(112,112,112,1);
}
.Rectangle_8_dp {
    position: absolute;
    overflow: visible;
    width: 3px;
    height: 14px;
    left: 17px;
    top: 40px;
}
#Scroll_Up {
    opacity: 0.5;
    left: 3px;
    top: 67px;
    position: absolute;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    color: rgba(112,112,112,1);
}
#Group_16 {
    position: absolute;
    width: 205.826px;
    height: 133px;
    left: 159px;
    top: 163px;
    overflow: visible;
}
#Group_15 {
    position: absolute;
    width: 205.826px;
    height: 90.908px;
    left: 0px;
    top: 42.092px;
    overflow: visible;
}
#facebook {
    fill: rgba(112,112,112,1);
}
.facebook {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 29.818px;
    left: 0px;
    top: 2.908px;
    transform: matrix(1,0,0,1,0,0);
}
#instagram-square {
    fill: rgba(112,112,112,1);
}
.instagram-square {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 117.218px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#twitter {
    fill: rgba(112,112,112,1);
}
.twitter {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 24.366px;
    left: 58.609px;
    top: 5.634px;
    transform: matrix(1,0,0,1,0,0);
}
#dribbble {
    fill: rgba(112,112,112,1);
}
.dribbble {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 175.826px;
    top: 60.908px;
    transform: matrix(1,0,0,1,0,0);
}
#linkedin {
    fill: rgba(112,112,112,1);
}
.linkedin {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 60.908px;
    transform: matrix(1,0,0,1,0,0);
}
#youtube {
    fill: rgba(112,112,112,1);
}
.youtube {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 21.094px;
    left: 175.826px;
    top: 4.814px;
    transform: matrix(1,0,0,1,0,0);
}
#behance {
    fill: rgba(112,112,112,1);
}
.behance {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 18.808px;
    left: 117.218px;
    top: 66.504px;
    transform: matrix(1,0,0,1,0,0);
}
#pinterest {
    fill: rgba(112,112,112,1);
}
.pinterest {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 59.014px;
    top: 60.908px;
    transform: matrix(1,0,0,1,0,0);
}
#Find_ME_on {
    left: 54px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: left;
    font-family: REVOLUTION;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(112,112,112,1);
}
#Group_20 {
    position: absolute;
    width: 713px;
    height: 73px;
    left: 605px;
    top: 163px;
    overflow: visible;
}
#Group_8 {
    position: absolute;
    width: 713px;
    height: 73px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_31 {
    fill: rgba(232,232,232,1);
}
.Rectangle_31 {
    position: absolute;
    overflow: visible;
    width: 713px;
    height: 73px;
    left: 0px;
    top: 0px;
}
#Rectangle_32 {
    fill: rgba(255,172,172,1);
}
.Rectangle_32 {
    position: absolute;
    overflow: visible;
    width: 193px;
    height: 73px;
    left: 520px;
    top: 0px;
}
#Enter_your_email_____ {
    opacity: 0.4;
    left: 34px;
    top: 23px;
    position: absolute;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}
#Subscribe {
    left: 540px;
    top: 23px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(100,99,99,1);
}
#ic_notifications_active_24px {
    fill: rgba(100,99,99,1);
}
.ic_notifications_active_24px {
    overflow: visible;
    position: absolute;
    width: 18.46px;
    height: 18.053px;
    left: 674.953px;
    top: 27.974px;
    transform: matrix(1,0,0,1,0,0);
}
#About_us________Terms_of_servi {
    left: 1602px;
    top: 475px;
    position: absolute;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: right;
    font-family: Arial Rounded MT;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Language_-_English_US {
    opacity: 0.6;
    left: 54px;
    top: 475px;
    position: absolute;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial Rounded MT;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Group_22 {
    position: absolute;
    width: 186px;
    height: 353.037px;
    left: 1595px;
    top: 59.481px;
    overflow: visible;
}
#Rectangle_35 {
    fill: rgba(255,194,194,1);
}
.Rectangle_35 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 190px;
    height: 324px;
    left: 0px;
    top: 0px;
}
#Group_21 {
    position: absolute;
    width: 172px;
    height: 306px;
    left: 14px;
    top: 13px;
    overflow: visible;
}
#Jewellery_Love_11__f36ed6bd-e8 {
    filter: drop-shadow(4px 5px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 172px;
    height: 306px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_34 {
    opacity: 0.4;
    fill: rgba(0,0,0,1);
}
.Rectangle_34 {
    position: absolute;
    overflow: visible;
    width: 172px;
    height: 306px;
    left: 0px;
    top: 0px;
}
#ic_play_arrow_24px {
    fill: rgba(255,255,255,1);
}
.ic_play_arrow_24px {
    overflow: visible;
    position: absolute;
    width: 19.243px;
    height: 24.491px;
    left: 86px;
    top: 154.755px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_share_24px {
    fill: rgba(255,255,255,1);
}
.ic_share_24px {
    overflow: visible;
    position: absolute;
    width: 23.646px;
    height: 26.168px;
    left: 23.291px;
    top: 283.252px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_radio_button_checked_24px {
    fill: rgba(255,194,194,1);
}
.ic_radio_button_checked_24px {
    overflow: visible;
    position: absolute;
    width: 15.778px;
    height: 15.778px;
    left: 105.169px;
    top: 337.259px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_radio_button_unchecked_24px {
    opacity: 0.5;
    fill: rgba(255,194,194,1);
}
.ic_radio_button_unchecked_24px {
    overflow: visible;
    position: absolute;
    width: 15.778px;
    height: 15.778px;
    left: 79.053px;
    top: 337.259px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_radio_button_unchecked_24px_ek {
    opacity: 0.5;
    fill: rgba(255,194,194,1);
}
.ic_radio_button_unchecked_24px_ek {
    overflow: visible;
    position: absolute;
    width: 15.778px;
    height: 15.778px;
    left: 52.937px;
    top: 337.259px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_radio_button_unchecked_24px_el {
    opacity: 0.5;
    fill: rgba(255,194,194,1);
}
.ic_radio_button_unchecked_24px_el {
    overflow: visible;
    position: absolute;
    width: 15.778px;
    height: 15.778px;
    left: 131.285px;
    top: 337.259px;
    transform: matrix(1,0,0,1,0,0);
}
#ic_radio_button_unchecked_24px_em {
    fill: rgba(255,255,255,1);
}
.ic_radio_button_unchecked_24px_em {
    overflow: visible;
    position: absolute;
    width: 60.28px;
    height: 60.279px;
    left: 69.86px;
    top: 135.86px;
    transform: matrix(1,0,0,1,0,0);
}